# fastapi==0.103.2
# uvicorn==0.23.2
# requests==2.31.0
# pandas==2.1.2
# matplotlib==3.8.1
# zeep==4.1.0
# langchain>=0.0.184
langchain>=0.1.19
# docarray==0.40.0
# openai >= 0.27.7
# streamlit >= 1.24.0
# tiktoken==0.5.2
# pydantic==1.10.9
# langchain-experimental==0.0.47
# duckduckgo-search==4.1.1
# langchain_openai==0.0.2
# wikipedia==1.4.0
# pyTelegramBotAPI==4.14.0
# aiofiles==23.2.1